/* Styles for the quiz */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: plum;
}

.centre {
    text-align: center;
}

.quiz-container {
    max-width: 600px;
    margin-top: 20px;
    margin: 80px auto;
    padding: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-bottom: 20px;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.option {
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.option:hover {
    background-color: #ddd;
}

#score {
    font-weight: bold;
    display: none;
    text-align: center;
}